@model  GuildCars.UI.Models.VehicleEditViewModel

@{
    /**/

    ViewBag.Title = "Edit Vehicle";
}

<row>
    <div class="col-12-xs">
        <h2>Edit Vehicle</h2>

        @using (Html.BeginForm("EditVehicle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "formEditVehicle"  }))
        {
            @Html.ValidationSummary()
            @Html.HiddenFor(m => m.vehicle.VehicleId)

            <div class="form-row">
                <div id="editVehicle-div-make" class="form-group col-md-6 col-xs-12">
                    <label>Make</label>
                    @Html.DropDownListFor(m => m.vehicle.MakeId, Model.Makes, new { @class = "form-control  edit-width" })
                </div>

                <div id="editVehicle-div-model" class="form-group col-md-6 col-xs-12">
                    <label>Models</label>
                    @Html.DropDownListFor(m => m.vehicle.ModelId, @Model.Models, new { @class = "form-control  edit-width" })
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-type" class="form-group col-md-6 col-xs-12">
                    <label>Type</label>
                    @Html.DropDownListFor(m => m.vehicle.IsNew, @Model.CarType, new { @class = "form-control  edit-width" })
                </div>

                <div id="editVehicle-div-bodystyle" class="form-group col-md-6 col-xs-12">
                    <label>Body Style</label>
                        @Html.DropDownList("vehicle.BodyStyleId", @Model.BodyStyle, new { @class = "form-control  edit-width"})
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-year" class="form-group col-md-6 col-xs-12">
                    <label id="year-label" for="year-input" class="control-label">Year</label>
                    <input type="text" name="vehicle.Year" value="@Model.vehicle.Year" id="year-input" class="form-control edit-width">
                </div>

                <div id="editVehicle-div-transmition" class="form-group col-md-6 col-xs-12">
                    <label>Transmition</label>
                    @Html.DropDownListFor(m => m.vehicle.TransmitionId, @Model.Transmition, new { @class = "form-control  edit-width" })
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-color" class="form-group col-md-6 col-xs-12">
                    <label>Color</label>
                    @Html.DropDownListFor(m => m.vehicle.ColorId, @Model.Colors, new { @class = "form-control edit-width" })
                </div>

                <div id="editVehicle-div-interior" class="form-group col-md-6 col-xs-12">
                    <label>Interior</label>
                    @Html.DropDownListFor(m => m.vehicle.InteriorId, @Model.Interiors, new { @class = "form-control edit-width" })
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-mileage" class="form-group col-md-6 col-xs-12">
                    <label id="mileage-label" for="mileage-input" class="control-label">Mileage</label>
                    <input type="text" name="vehicle.Mileage" value="@Model.vehicle.Mileage" id="mileage-input" class="form-control edit-width">
                </div>

                <div id="editVehicle-div-vin" class="form-group col-md-6 col-xs-12">
                    <label id="vin-label" for="vin-input" class="control-label">VIN #</label>
                    <input type="text" name="vehicle.VinNum" value="@Model.vehicle.VinNum" id="vin-input" class="form-control edit-width">
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-msrp" class="form-group col-md-6 col-xs-12">
                    <label id="msrp-label" for="msrp-input" class="control-label">MSRP</label>
                    <input type="text" name="vehicle.MSRP" id="msrp-input" value="@Model.vehicle.MSRP" class="form-control edit-width">
                </div>

                <div id="editVehicle-div-salesprice" class="form-group col-md-6 col-xs-12">
                    <label id="sales-price-label" for="sales-price-input" class="control-label">Sales Price</label>
                    <input type="text" name="vehicle.SalesPrice" id="sales-price-input" value="@Model.vehicle.SalesPrice" class="form-control edit-width">
                </div>
            </div>

            <div class="form-row">
                <div id="editVehicle-div-desc" class="form-group col-md-6 col-xs-12">
                    <label id="description-label" for="description-input" class="control-label">Description</label>
                    <textarea type="text" name="vehicle.Descrip" id="description-input" class="form-control edit-width">@Model.vehicle.Descrip</textarea>
                </div>
            </div>

            <div class="form-row form-check-inline">
                <div id="editVehicle-div-featured" class="form-check col-xs-12">
                    <label class="form-check-label">Feature this vehicle</label>
                    @Html.CheckBoxFor(m => m.vehicle.IsFeatured, new { @checked = Model.vehicle.IsFeatured, @class = "form-check-input"})
                </div>
            </div>

            <div class="form-row">
                <div class=" form-group col-12-xs">
                    <img src="@Url.Content("~/Images/" + Model.vehicle.PictureFileName)" />

                    <label>Replace Image</label>
                    <input id="ImageUpload" name="ImageUpload" class="form-control" type="file" />

                </div>
            </div>

            <div class="form-row">
                <div id="delete-button-div" class="form-group">
                    <input type="submit" value="Delete" onclick="confirm('Are you sure to delete this vehicle?')" id="delete-button-edit" class="btn btn-sm btn-danger" formaction="/Admin/RemoveVehicle" />
                </div>
                <div class=" form-group">
                    <button id="editVehicle-save-button" class="btn btn-sm btn-primary">Save</button>
                </div>
            </div>

        }
    </div>
</row>





