@model GuildCars.UI.Models.MakesModelsViewModel
@{
    ViewBag.Title = "Makes";
}

<h2>Makes</h2>

@using (Html.BeginForm("Makes", "Admin", FormMethod.Post, new { id = "make-form" }))
{
    <div class="form-row">
        <div class="col-12-xs col-6-md form-group form-inline">
            @Html.LabelFor(m => m.make.MakeName, "New Make")
            @Html.TextBoxFor(m => m.make.MakeName, new { @class = "form-control" })

            <input type="hidden" name="model.UserId" id="userid-input" value="@Model.model.UserId">
        </div>

        <div class="col-12-xs col-6-md form-group form-inline" id="search-div-button">
            <button id="search-button" type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Make
                </th>
                <th>
                    Date Added
                </th>
                <th>
                    User
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.makes)
            {
                <tr>
                    <td>@item.MakeName</td>
                    <td>@item.DateAddedString</td>
                    <td>@item.UserName</td>
                </tr>

            }
        </tbody>
    </table>

